/* div {
  width: 200px;
  margin: 100px auto 0;
  padding: 10px 0;
  background: linear-gradient(90deg, #ff5800, #8b00be);
  border-radius: 30px;
  box-shadow: 0.5px 0 rgba(255, 0, 0, 0.2);
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
} */

/* 模範解答 */
.practice__btn {
  width: 200px;
  padding: 10px 0;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff5800, #8b00be);
  text-align: center;
  box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
  margin: 100px auto 0;
  display: block;
}
