/* Flexbox */
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

/* 全体を覆う箱 */
.card {
  width: 30%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* 写真 */
.card__img img {
  width: 100%;
}

/* 写真の下の箱 */
.card__content {
  padding: 15px 25px;
}

/* カテゴリー */
.card__content-cat {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #008888;
  color: #fff;
}

/* 文言 */
.card__content-ttl {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

/* pタグを囲う箱 */
.card__content-tag {
  font-size: 14px;
  text-align: right;
}

/* #朝ごはん */
.card__content-tag-item {
  display: inline-block;
  color: #008888;
}

/* 2021/01/01 */
.card__content-tag-item--last {
  display: inline-block;
  margin-left: 20px;
  color: #888888;
}
