/* form要素 */
.form {
  width: 60%;
  margin: 20px auto;
}

/* 各データ(key & value) */
.form-item {
  border-top: 1px solid #ddd;
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

/* 5番目のform-item(お問い合わせ内容) */
.form-item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

/* 各データのkeyのp要素 */
.form-item-label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

/* 各データのkeyのspan要素 */
.form-item-label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

/* 各データのvalueのinput要素 */
.form-item-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  height: 48px;
  width: 100%;
  background: #eaedf2;
  font-size: 18px;
}

/* 各データのvalueのtextarea要素 */
.form-item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  background: #eaedf2;
  font-size: 18px;
}

/* 送信ボタン */
.form-btn {
  border-radius: 6px;
  margin: 32px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size-adjust: 20px;
  border: none;
  cursor: pointer;
}
