a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-ttl {
  font-size: 24px;
  width: 100%;
  margin-bottom: 30px;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copyright {
  font-size: 12px;
}
